In [1]:
import pandas as pd
import numpy as np

In [2]:
dt=pd.read_csv("iris.csv")
dt

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
sl=dt.iloc[:,0]
sw=dt.iloc[:,1]
pl=dt.iloc[:,2]
pw=dt.iloc[:,3]
s=dt.iloc[:,4]

In [4]:
sl1=sl.tolist()
sw1=sw.tolist()
pl1=pl.tolist()
pw1=pw.tolist()
s1=s.tolist()

In [5]:
from sklearn.model_selection import train_test_split
sltn,sltt,swtn,swtt,pltn,pltt,pwtn,pwtt,stn,stt=train_test_split(sl1,sw1,pl1,pw1,s1,train_size=0.8,random_state=101)

In [6]:
c=0;
print("type found", "actual type",sep="\t")
for i in range(len(sltt)):
    m1=10000000;
    m2=10000001;
    m3=10000002;
    m4=10000003;
    s1,s2,s3,s4=" " ," ", " "," " 
    for j in range(len(sltn)):
        t1=(((sltn[j]-sltt[i])**2)+((pltn[j]-pltt[i])**2)+((swtn[j]-swtt[i])**2)+((pwtn[j]-pwtt[i])**2))
        if(t1<m4):
            if(t1<m3):
                m4=m3
                s4=s3
                if(t1<m2):
                    m3=m2
                    s3=s2
                    if(t1<m1):
                        m2=m1
                        s2=s1
                        m1=t1
                        s1=stn[j]
                    else:
                        m2=t1
                        s2=stn[j]
                else:
                    m3=t1
                    s3=stn[j]
            else:
                m4=t1
                s4=stn[j]
    
    c1,c2,c3=0,0,0
    if s1=="setosa":
        c1=c1+1;
    if s2=="setosa":
        c1=c1+1;
    if s3=="setosa":
        c1=c1+1;
    if s4=="setosa":
        c1=c1+1;
    
    if s4=="virginica":
        c2=c2+1;
    if s3=="virginica":
        c2=c2+1;
    if s2=="virginica":
        c2=c2+1;
    if s1=="virginica":
        c2=c2+1;
    
    if s4=="versicolor":
        c3=c3+1;
    if s3=="versicolor":
        c3=c3+1;
    if s2=="versicolor":
        c3=c3+1;
    if s1=="versicolor":
        c3=c3+1;
    if(c3>c2):
        if(c3>c1):
            st="versicolor"
        else:
            st="setosa"
    else:
        if(c2>c1):
            st="virginica"
        else:
            st="setosa"
    if st==stt[i]:
        c=c+1;
    if(st=="setosa"):
        print(st,stt[i],sep="\t\t")
    else:
        print(st,stt[i],sep="\t")

c=c*100/len(sltt)
print("Percentage accuracy ",c,"%")

type found	actual type
setosa		setosa
setosa		setosa
setosa		setosa
virginica	virginica
versicolor	versicolor
virginica	virginica
versicolor	versicolor
versicolor	versicolor
virginica	virginica
setosa		setosa
virginica	virginica
setosa		setosa
setosa		setosa
virginica	virginica
virginica	virginica
versicolor	versicolor
versicolor	versicolor
versicolor	versicolor
setosa		setosa
virginica	virginica
versicolor	versicolor
setosa		setosa
versicolor	versicolor
versicolor	versicolor
versicolor	versicolor
versicolor	versicolor
versicolor	versicolor
virginica	virginica
setosa		setosa
setosa		setosa
Percentage accuracy  100.0 %